body {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
}

h1 {
	font-size: 3rem;
	text-align: center;
	color: darkmagenta;
	padding-bottom: 0;
	margin-bottom: 0;
}

h2 {
		text-align: center;
		color: darkmagenta; 
	}

h3 {
	text-align: center;
	font-style: italic;
	font-size: 1rem;
}

p {
	text-align: justify;
	color: #353334;
	margin-left: 10%;
	margin-right: 10%;
}

.img-notas {
	display: block;
	margin: auto;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
}

.frases {
	font-style: italic;
	color: darkmagenta;
	margin-left: 12%;
	margin-right: 12%;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 1.1rem;
	line-height: 2rem;
}

.chiquitolina {
	width: 90px;
	display: block;
	margin: auto;
	padding-top: 3%;
}

.item-barra {
	display: inline-block;
	margin-top: 1rem;
	font-size: 1.2rem;
}

.link-barra {
	margin: 0 1rem;
	color: #353334;
}

.barra {
	text-align: center;
	background-color: #ffdb4d;
	padding-bottom: 1%;
}

.eslogan {
	font-size: 1.2rem;
	color: #444444;
	margin-top: 1%;
	padding-top: 0;
}

.contenedor-form {
	text-align: center;
}

.contenedor-form p {
	text-align: center;
}

.contenedor-form input, .contenedor-form textarea {
	display: block;
	margin: 0 auto;
	margin-bottom: 1%;
}

td, th {
	border: 1px solid;
}

input {
	width: 100px;
}

table {
	margin: 0 auto;
}

button {
	border-radius: 5px;
	padding: 7px;
}

.debajoDeTabla {
	text-align: center;
	padding-top: 1.2%;
}

.debajoDeTabla button {
	margin-top: 0.3rem;
	margin-bottom: 0.2rem;
	font-size: 1rem;
}

footer {
	text-align: center;
	margin-top: 1%;
	font-size: 1rem;
	background-color: #ffdb4d;
	padding: 0.5rem;
}

h5 {
	color: red;
}

@media only screen and (max-width: 480px) {
	.eslogan {
		display: none;
	}

	.contenedor {
		display: grid;
		grid-template-areas: 
			"articulo-uno"
			"articulo-tres"
			"articulo-dos"
			"articulo-cuatro";
	}

	.articulo-uno {
		grid-area: articulo-uno;
	}

	.articulo-dos {
		grid-area: articulo-dos;
	}

	.articulo-tres {
		grid-area: articulo-tres;
	}

	.articulo-cuatro {
		grid-area: articulo-cuatro;
	}

	.articulo-uno img, .articulo-dos img, .articulo-tres img, .articulo-cuatro img {
		width: 280px;
	}
	
	.articulo-uno, .articulo-dos, .articulo-tres, .articulo-cuatro {
		text-align: center;
	}
	
	.item-barra {
		margin-top: 0.5rem;
		font-size: 0.9rem;
	}

	.link-barra {
		margin: 0 0.6rem;
		font-weight: bold;
	}

	h1 {
		font-size: 2rem;
	}

	h2 {
		text-align: center;
		font-size: 1.7em;
		color: darkmagenta; 
	}

	.img-notas {
		width: 280px;
	}

	p, .frases {
		margin-left: 3%;
		margin-right: 3%;
		font-size: 1rem;
	}

	header {
		grid-area: header;
	}

	td, th, button {
	border: 1px solid;
	font-size: 0.7rem;
}

.debajoDeTabla button {
	margin-top: 0.3rem;
	margin-bottom: 0.2rem;
	font-size: 0.8rem;
}

	footer {
	font-size: 0.7rem;
	background-color: #ffdb4d;
	padding: 0.3rem;
}

}

@media only screen and (min-width: 480px) and (max-width: 890px) {
	
	.contenedor {
		display: grid;
		grid-template-areas: 
			"articulo-uno"
			"articulo-dos"
			"articulo-tres"
			"articulo-cuatro";
	}

	.articulo-uno {
		grid-area: articulo-uno;
	}

	.articulo-dos {
		grid-area: articulo-dos;
	}

	.articulo-tres {
		grid-area: articulo-tres;
	}

	.articulo-cuatro {
		grid-area: articulo-cuatro;
	}

	.articulo-uno img, .articulo-dos img, .articulo-tres img, .articulo-cuatro img {
		width: 420px;
	}
	
	.articulo-uno, .articulo-dos, .articulo-tres, .articulo-cuatro {
		text-align: center;
	}

	.footer {
		grid-area: footer;
	}

	p, .frases {
		margin-left: 10%;
		margin-right: 10%;
	}

	.img-notas {
		width: 450px;
	}

} 

@media only screen and (min-width: 890px) {
	
	.contenedor {
		display: grid;
		grid-template-areas: 
			"articulo-dos articulo-uno"
			"articulo-tres articulo-cuatro";
	}

	.articulo-uno {
		grid-area: articulo-uno;
	}

	.articulo-dos {
		grid-area: articulo-dos;
	}

	.articulo-tres {
		grid-area: articulo-tres;
	}

	.articulo-cuatro {
		grid-area: articulo-cuatro;
	}

	.articulo-uno img, .articulo-dos img, .articulo-tres img, .articulo-cuatro img {
		width: 420px;
	}
	
	.articulo-uno, .articulo-dos, .articulo-tres, .articulo-cuatro {
		text-align: center;
	}

	p, .frases {
		margin-left: 20%;
		margin-right: 20%;
	}

	.img-notas {
		width: 600px;
	}

	.footer {
		grid-area: footer;
	}

	h2 {
		font-size: 2.5rem;
		padding-bottom: 0;
		padding-top: 1%;
		margin: 0;
		margin-bottom: 2%;
	}

}

.oculta {
	display: none;
}

.deportiva {
	background-color:  #73d057; 
}

.politica {
	background-color: #e1dd5a;
}
.cientifica {
	background-color: rosybrown;
}
.artistica {
	background-color:  #afd0d6;
}
.otra {
	background-color:  #d3d3d3;
}